.App {
  text-align: center;
}

.TogglePersonsButtonShow {
  background-color: #008000;
  color: #eee;
  font: inherit;
  border: 1px solid #000fff;
  padding: 8px;
  cursor: pointer;
}

.TogglePersonsButtonHide {
  background-color: #ff0000;
  color: #eee;
  font: inherit;
  border: 1px solid #000fff;
  padding: 8px;
  cursor: pointer;
}